.App {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 960px;
	margin: 0 auto;
}

.App__main {
	margin-top: 15px;
}

@media screen and (min-width: 600px) {
	.App__main {
		margin-top: 30px;
	}
}