.NewGamePage {
	width: 100%;
	height: calc(100vh - 130px);
	margin: 0 0 -100px;
	justify-content: center;
	z-index: -1;
}

.NewGamePage__btn {
	width: 80vw;
	margin: 0.2vh;
	background-color: #FFF;
	color: #0040DD;
	font-size: 1em;
	font-weight: 600;
	border: none;
	padding: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.NewGamePage__btn:hover {
	background-color: #0040DD;
	color: #FFF;
}

.NewGamePage__btn:active {
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
}

@media screen and (min-width: 300px) {
	.NewGamePage__btn {
		width: 50vw;
		max-width: 360px;
	}
}

@media screen and (min-width: 600px) {
	.NewGamePage {
		height: calc(100vh - 150px);
	}
}