.Header {
	height: 40px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.Header__div {
	margin: 0;
	display: flex;
	align-items: center;
}

.Header__link {
	flex: 1;
	font-size: 0.9em;
	padding: 3px 10px;
	border-radius: 15px;
	border: 1px solid lightgray;
	background-color: white;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
	top: -3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

@media screen and (min-width: 450px) {
	.Header__link {
		font-size: 1em;
		padding: 5px 15px;
	}
}