* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #FFF;
	color: #2C2C2E;
	font-size: 14px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 360px;
}

button {
	outline: none;
}

button:hover {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 5px;
}

a {
	text-decoration: none;
	color: inherit;
}

@media screen and (min-width: 600px) {
	body {
		font-size: 16px;
	}
}